*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-color: #181824;
    background-size: 100vw;
    transition: linear .2s all;
}

@font-face {
    font-family: JosefinSans;
    src: url(./font/JosefinSans-Italic-VariableFont_wght.ttf);
    src: url(./font/JosefinSans-VariableFont_wght.ttf);
}

.container{
    width: 40%;
    height: fit-content;
    position: relative;
    margin-top: 6%;
}

p.dark{
    color: white;
    font-family: 'JosefinSans',sans-serif;
    font-size: 2.2rem;
    font-weight: bold;
    letter-spacing: 1.2rem;
}

.themeICON{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

#iconmoon{
    display: none;
}


.inputBOX{
    margin-top: 50px;
    height: 65px;
    box-shadow: black 0px 20px 100px ;
    background-color: #25273c;
    overflow: hidden;
    border-radius: 5px;
    position: relative;

}

.checkBOX{
    width: 10%;
    height: 65px;
    position: absolute;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}

.check{
    width: 25px;
    height: 25px;
    border-radius:50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #2f3146; 
    cursor: pointer;

}

#imgEnter{
    display: none;
}


.input-todo{
    height: 65px;
    background-color:transparent;
    border: none;
    outline: none;
    width: 90%;
    position: absolute;
    right: 0;
    font-family: 'JosefinSans',sans-serif;
    font-size: 1.2rem;
    caret-color: hsl(220, 98%, 61%);
    color: rgba(255, 255, 255, 0.7);
}


.listTODO{
    position: relative;
    width: 100%;
    height: fit-content;
    background-color: #25273c;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 25px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: black 0px 20px 100px ;

}


.ulTODO{
    list-style: none;
}

li{
    border-bottom: 1px solid #383a4f;
    width: 100%;
    height:65px;
    font-size: 1.rem;
    font-family: 'JosefinSans',sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;

}

li p {
    width: 80%;
    cursor: pointer;
    font-size: 1.2rem;

}

.closeBOX{
    width: 10%;
    height: 65px;
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

}


.imgclose{
    cursor: pointer;
}

#closeBTN{
    display: none;
}


.List-management{
    height: 50px;
    width: 100%;
    font-family: 'JosefinSans',sans-serif;
    color: #606078;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.management-left{
    position: absolute;
    left: 0;
    margin-left:25px ;
    font-size: small;
}

.management-center{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.management-right{
    position: absolute;
    right: 0;
    margin-right:25px ;
    font-size: medium;
}

.active{
    color: #4b7ad6;
}

.List-management p:hover{
    transition: linear .25s color;
    color: rgb(107, 183, 255);
    cursor: pointer;
}

footer{
    position: absolute;
    width: 100%;
    color: #606078;
    text-align: center;
    margin-top: 55px;
    padding-bottom: 100px;
    font-family: 'JosefinSans',sans-serif;;
}

.MB{
    height: 50px;
    width: 100%;
    background-color: transparent;
    font-family: 'JosefinSans',sans-serif;
    color: #606078;
    font-weight: bold;
    display: none;
    justify-content: space-around;
    align-items: center;
}

.MB p:hover{
        transition: linear .25s color;
        color: rgb(107, 183, 255);
        cursor: pointer;
}

.checkedP{
    color: hsl(234, 11%, 52%);
    text-decoration: line-through;
}

.checkli{
        width: 25px;
        height: 25px;
        border: solid 2px transparent;
        border-radius: 50%;
        background-image: linear-gradient(#25273c, #25273c), radial-gradient(circle at top left, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
        background-origin: border-box;
        background-clip: content-box, border-box;
}

.done{
background-image:linear-gradient(hsl(192, 100%, 67%),hsl(280, 87%, 65%) )
}

.imgdone{
    display: none;
}




.lightBODY{
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-color: #ffffff;
    background-size: 100vw;
}

.listTODOlight{
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.75);
}


.inputBOXlight{
    margin-top: 50px;
    height: 65px;
    box-shadow: black 0px 20px 100px ;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

.input-todolight{
    height: 65px;
    background-color:transparent;
    border: none;
    outline: none;
    width: 90%;
    position: absolute;
    right: 0;
    font-family: 'JosefinSans',sans-serif;
    font-size: 1.2rem;
    caret-color: hsl(220, 98%, 61%);
    color: rgba(0, 0, 0, 0.7);
}
.checklilight{
    width: 25px;
    height: 25px;
    border: solid 3px transparent;
    border-radius: 50%;
    background-image: linear-gradient(#fff, transparent), radial-gradient(circle at top left, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.plight{
    font-weight: bold;
    display: block;
    text-shadow: black 0px 5px 20px;
    font-family: 'JosefinSans',sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin:20px ;
    margin-bottom: 10px;
    color:black;
    text-transform: uppercase;
}
    
.pstyle{
    font-family: 'JosefinSans',sans-serif;
    font-size: 1.5rem;
    text-align: center;
    margin:20px ;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}

.ALLimgdone{
    display: flex;
}


@media only screen and (max-width:1400px){

    .container{
        width: 50%;
        height: fit-content;
        position: relative;
        margin-top: 6%;
    }
   
}


@media only screen and (max-width:1000px){

    .container{
        width: 65%;
        height: fit-content;
        position: relative;
        margin-top: 6%;
    }
   
}


@media only screen and (max-width:850px){

    .container{
        width: 75%;
        height: fit-content;
        position: relative;
        margin-top: 6%;
    }
   
}



@media only screen and (max-width:700px){

    .container{
        width: 90%;
        height: fit-content;
        position: relative;
        margin-top: 6%;
    }
    
    .management-center{
    display: none;
    }
    .MB{
        display: flex;
        margin-top: 30px;
    }
    footer{
        margin-top: 50px;
        padding-bottom: 70px;
    }
}


@media only screen and (max-width:375px){


    body{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(./images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-color: #181824;
        background-size: 100vw;
   
    }

    .lightBODY{
        background-image: url(./images/bg-mobile-light.jpg);
        background-repeat: no-repeat;
        background-color: #ffffff;
        background-size: 100vw;
    } 
  

}

